.container {
   display: flex;
   margin: 10px auto; 
}

.container img {
    width: 100%;
}

section.section-one {
    background-color: rgb(45, 46, 46);
    color: aliceblue;
    border-width: 30px;
    border-color: black;
     border-style:solid;
}

section.section-two {
    background-color: rgb(110, 78, 53);
    color: rgb(207, 238, 216);
    border-color: rgb(255, 255, 255);
    border-width: 60px;
    border-style: solid;
}

section {
    padding: 80px;
}
    
.container div {
    width: 35%;
    margin: 0 auto;
}

section.section-one h2 {
    font-size: 80px;
}

section.section-two div p {
    font-size: large; 
}

@media screen and (max-width: 600px) {

}